.layout-9 {
  .owl-carousel {
    position: relative;
  }

  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      flex: 1 0 auto;
    }

    .item {
      height: 100%;
      width: 100%;
    }
  }

  .jacl-item {
    height: 100%;

    .jacl-item__tags {
      ul.tags {
        margin: 0;
      }
    }
  }

  // Special apply for Item style 1
  @media (max-width: 1200px) {
    .highlight-item {
      .item-style-1 {
        height: 100%;

        .jacl-item__media {
          padding-bottom: 0;
          height: 100%;

          img {
            position: relative;
          }
        }
      }
    }
  }





  // Navigators
  .owl-nav {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px !important;
    width: 100%;
    z-index: 100;

    .owl-prev,
    .owl-next {
      border-radius: 0 !important;
      float: left;
      margin: 0 24px !important;
      outline: none;

      &:hover, &:focus {
        background-color: transparent !important;

        span {
          background-color: var(--color-primary);
        }
      }

      span {
        background-color: rgba(0,0,0,0.4);
        border-radius: 50%;
        color: #fff;
        display: block;
        height: 40px;
        line-height: 30px;
        font-size: 32px;
        text-align: center;
        width: 40px;
      }
    }

    .owl-next {
      float: right;
    }
  }

  .owl-carousel .owl-dots {
    margin-top: calc(var(--global-spacing) * 4) !important;
    margin-bottom: calc(var(--global-spacing) * 2) !important;

    // Mobile view
    @media (max-width: 767px) {
      margin-top: calc(var(--global-spacing) * 2) !important;
    }

    .owl-dot {
      border: 2px solid transparent;
      border-radius: 50%;
      height: 18px;
      padding: 4px !important;
      margin: 0 4px;
      outline: none;
      width: 18px;

      &.active {
        border-color: var(--gray-600);

        span {
          background-color: var(--gray-600);
        }
      }

      span {
        margin: 0;
        height: 6px;
        width: 6px;
      }
    }
  }
}